@model IEnumerable<LiquadCargoManagment.Models.Bilty>
@using LiquadCargoManagment.Models;

<div class="table-responsive">
    <table class="table table-striped" id="example">
        <thead>
            <tr>
                <td>Created Date</td>
                <td>Updated Date</td>
                <td>Bilty No</td>
                <td>Bilty Date</td>
                <td>Bill To</td>
                <td>Receiver</td>
                <td>Challan No</td>
                <td>Challan Date</td>
                <td>Vehicle No</td>
                <td>Ext/Vehicle</td>
                <td>Customer Type</td>
                <td>Qty</td>
                <td>Weight</td>
                <td>Total Freight</td>
                <td>Bill No</td>
                <td>Operation</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.IsDeleted != true)
                    {
                        <td>
                            @if (item.CreatedDate != null)
                            {
                                <text>@Convert.ToDateTime(item.CreatedDate).ToString(SoftwareFormatting.DateFormat)</text>
                            }
                            else
                            { 
                                <text></text>
                            }
                        </td>
                        <td>
                            @if (item.ModifiedDate != null)
                            {
                                <text>@Convert.ToDateTime(item.ModifiedDate).ToString(SoftwareFormatting.DateFormat)</text>
                            }
                            else
                            { 
                                <text></text>
                            }
                        </td>
                        <td>@item.OrderNo</td>
                        <td>@Convert.ToDateTime(item.DeliveryDate).ToString(SoftwareFormatting.DateFormat)</td>

                        if (item.BillTo == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.CustomerCompany.Name</td>
                        }
                        if (item.Reciever != null)
                        {
                            <td>@item.PickLocation2.LocationName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @if (item.CompactCheckBilties != null)
                            {
                                foreach (var items in item.CompactCheckBilties)
                                {
                                    <text>@items.Challan.ChallanManualNo</text>
                                }
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        <td>
                            @if (item.CompactCheckBilties != null)
                            {
                                foreach (var items in item.CompactCheckBilties)
                                {
                                    <text>@Convert.ToDateTime(items.Challan.ChallanDate).ToString(SoftwareFormatting.DateFormat)</text>
                                }
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        if (item.VehicleID != null)
                        {
                            <td>@item.Vehicle.RegNo</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        if (item.ExternalVehicleNo != null)
                        {
                            <td>@item.ExternalVehicleNo</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        if (item.CustomerType == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.CustomerType</td>
                        }
                        if (item.OrderDetailsTotalQTY != null)
                        {
                            <td>@item.OrderDetailsTotalQTY</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        if (item.OrderDetailsTotalWeight != null)
                        {
                            <td>@string.Format(SoftwareFormatting.NumberFormat, item.OrderDetailsTotalWeight)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        if (item.TotalFreight != null)
                        {
                            <td>@string.Format(SoftwareFormatting.NumberFormat, item.TotalFreight)</td>
                        }
                        else
                        {
                            <td>@string.Format(SoftwareFormatting.NumberFormat, item.TotalFreight)</td>
                        }
                        <td>
                            @if (item.CompactCheckBills != null)
                            {
                                foreach (var items in item.CompactCheckBills)
                                {
                                    <text>@items.CompactBill.ReferenceNo</text>
                                }
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        <td width="10%">

                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-alt btn-danger btn-sm" data-toggle="tooltip" title="Cancel Record" onclick="DeleteModel(@item.ID)"><i class="fa fa-window-close"></i></a>
                                <a href="../Report/Index?id=@item.ID" target="_blank" class="btn btn-alt btn-warning btn-sm" data-toggle="tooltip" title="Print Bilty"><i class="fa fa-print"></i></a>
                                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                    <li><a href="../Admin/Bilty?id=@item.ID"><i class="fa fa-eye pull-right"></i>Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="../Admin/CreatePartialBilty?ID= @item.ID"><i class="fa fa-plus pull-right"></i>Create Partial Bilty</a></li>
                                </ul>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="themed-background-muted">
                            @if (item.CreatedDate != null)
                            {
                                <text>@Convert.ToDateTime(item.CreatedDate).ToString(SoftwareFormatting.DateFormat)</text>
                            }
                            else
                            { 
                                <text></text>
                            }
                        </td>
                        <td class="themed-background-muted">
                            @if (item.ModifiedDate != null)
                            {
                                <text>@Convert.ToDateTime(item.ModifiedDate).ToString(SoftwareFormatting.DateFormat)</text>
                            }
                            else
                            { 
                                <text></text>
                            }
                        </td>
                        <td class="themed-background-muted">@item.OrderNo</td>
                        <td class="themed-background-muted">@Convert.ToDateTime(item.DeliveryDate).ToString(SoftwareFormatting.DateFormat)</td>
                        if (item.BillTo == null)
                        {
                            <td class="themed-background-muted"></td>
                        }
                        else
                        {
                            <td class="themed-background-muted">@item.CustomerCompany.Name</td>
                        }
                        if (item.Reciever != null)
                        {
                            <td class="themed-background-muted">@item.PickLocation1.LocationName</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        <td class="themed-background-muted">
                            @if (item.Challans != null)
                            {
                                foreach (var items in item.Challans)
                                {
                                    <text>@items.ChallanManualNo</text>
                                }
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        <td class="themed-background-muted">
                            @if (item.Challans != null)
                            {
                                foreach (var items in item.Challans)
                                {
                                    <text>@items.ChallanManualNo</text>
                                }
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        if (item.VehicleID != null)
                        {
                            <td class="themed-background-muted">@item.Vehicle.RegNo</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        if (item.ExternalVehicleNo != null)
                        {
                            <td class="themed-background-muted">@item.ExternalVehicleNo</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        if (item.CustomerType == null)
                        {
                            <td class="themed-background-muted"></td>
                        }
                        else
                        {
                            <td class="themed-background-muted">@item.CustomerType</td>
                        }
                        if (item.OrderDetailsTotalQTY != null)
                        {
                            <td class="themed-background-muted">@item.OrderDetailsTotalQTY</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        if (item.OrderDetailsTotalWeight != null)
                        {
                            <td class="themed-background-muted">@string.Format(SoftwareFormatting.NumberFormat, item.OrderDetailsTotalWeight)</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        if (item.TotalFreight != null)
                        {
                            <td class="themed-background-muted">@string.Format(SoftwareFormatting.NumberFormat, item.TotalFreight)</td>
                        }
                        else
                        {
                            <td class="themed-background-muted"></td>
                        }
                        <td class="themed-background-muted"></td>
                        <td class="themed-background-muted">

                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-alt btn-danger btn-sm disabled" onclick="DeleteModel(@item.ID)"><i class="fa fa-window-close"></i></a>
                                <a href="../Admin/PrintViewBilty?id=@item.ID" target="_blank" class="btn btn-alt btn-warning btn-sm disabled"><i class="fa fa-print"></i></a>
                                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-info dropdown-toggle disabled" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                    <li><a href="../Admin/Bilty?id=@item.ID"><i class="fa fa-eye pull-right"></i>Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="../Admin/CreatePartialBilty?ID= @item.ID"><i class="fa fa-plus pull-right"></i>Create Partial Bilty</a></li>
                                </ul>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>