@using LiquadCargoManagment.Models;
@using LiquadCargoManagment.Helpers;
<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8">
    <title>Vals Technologies | @ViewBag.Title</title>
    <meta name="description" content="Liquad & Cargo Managment Developed by Vals Technologies" />
    <meta name="author" content="Vals Technologies" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/assets/OwnCompanyLogo/MZBLogo.png" />
    <link rel="apple-touch-icon" href="~/img/icon57.png" sizes="57x57" />
    <link rel="apple-touch-icon" href="~/img/icon72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="~/img/icon76.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="~/img/icon114.png" sizes="114x114" />
    <link rel="apple-touch-icon" href="~/img/icon120.png" sizes="120x120" />
    <link rel="apple-touch-icon" href="~/img/icon144.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="~/img/icon152.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="~/img/icon180.png" sizes="180x180" />

    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="~/css/plugins.css" />

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/themes.css" />
    <!-- Modernizr (browser feature detection library) -->
    <script src="~/js/vendor/modernizr.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/customDataTable.css" />
    <link rel="stylesheet" href="~/css/DataTableThemeController.css" />
    <link rel="stylesheet" href="~/css/autocomplete.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        @*@Styles.Render("~/assets/accounts/cache/site")
    @if (IsSectionDefined("LinkStyleSection"))
    {
        @RenderSection("LinkStyleSection");
    }
    @if (IsSectionDefined("InLineStyleSection"))
    {
        @RenderSection("InLineStyleSection");
    }*@
    <style>
        thead tr td {
            font-weight: bold;
        }
    </style>
</head>


<body>


    <div id="page-wrapper">

        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>ABC</strong>Systems</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <!-- END Preloader -->
        <!-- Page Container -->

        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <!-- Alternative Sidebar -->
            <div id="sidebar-alt">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-alt-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Chat -->
                        <!-- Chat demo functionality initialized in js/app.js -> chatUi() -->
                        <a href="page_ready_chat.html" class="sidebar-title">
                            <i class="gi gi-comments pull-right"></i> <strong>Chat</strong>UI
                        </a>
                        <!-- Chat Users -->
                        <ul class="chat-users clearfix">
                            <li>
                                <a href="javascript:void(0)" class="chat-user-online">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar12.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-online">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar15.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-online">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar10.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-online">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar4.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-away">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar7.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-away">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar9.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="chat-user-busy">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar16.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar1.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar4.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar3.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar13.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span></span>
                                    <img src="~/img/placeholders/avatars/avatar5.jpg" alt="avatar" class="img-circle">
                                </a>
                            </li>
                        </ul>
                        <!-- END Chat Users -->
                        <!-- Chat Talk -->
                        <div class="chat-talk display-none">
                            <!-- Chat Info -->
                            <div class="chat-talk-info sidebar-section">
                                <button id="chat-talk-close-btn" class="btn btn-xs btn-default pull-right">
                                    <i class="fas fa-times"></i>
                                </button>
                                <img src="~/img/placeholders/avatars/avatar5.jpg" alt="avatar" class="img-circle pull-left">
                                <strong>Sameer</strong> Ullah
                            </div>
                            <!-- END Chat Info -->
                            <!-- Chat Messages -->
                            <ul class="chat-talk-messages">
                                <li class="text-center"><small>Yesterday, 18:35</small></li>
                                <li class="chat-talk-msg animation-slideRight">Hey admin?</li>
                                <li class="chat-talk-msg animation-slideRight">How are you?</li>
                                <li class="text-center"><small>Today, 7:10</small></li>
                                <li class="chat-talk-msg chat-talk-msg-highlight themed-border animation-slideLeft">I'm fine, thanks!</li>
                            </ul>
                            <!-- END Chat Messages -->
                            <!-- Chat Input -->
                            <form action="index.html" method="post" id="sidebar-chat-form" class="chat-form">
                                <input type="text" id="sidebar-chat-message" name="sidebar-chat-message" class="form-control form-control-borderless" placeholder="Type a message..">
                            </form>
                            <!-- END Chat Input -->
                        </div>
                        <!--  END Chat Talk -->
                        <!-- END Chat -->
                        <!-- Activity -->
                        <!-- END Messages -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Alternative Sidebar -->
            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content" style="width:212px;">
                        <!-- Brand -->
                        <a href="#" class="sidebar-brand">
                            @if (SoftwareFormatting.Logo != null)
                            {
                                <img src="~/Logo/@SoftwareFormatting.Logo" style="width:95%;height:100%" />
                            }
                            else
                            {
                                <img src="~/assets/Logo/MZBLogo.png" style="width:90%;height:100%" />
                            }

                        </a>
                        <!-- END Brand -->
                        <!-- User Info -->
                        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                            <div class="sidebar-user-avatar">
                                <a href="#">
                                    @if (ApplicationHelper.ProfileImage != "" && ApplicationHelper.ProfileImage != null)
                                    {
                                        if (ApplicationHelper.ProfileImage.Contains("."))
                                        {
                                            <img src="@ApplicationHelper.ProfileImage" alt="avatar">
                                        }
                                        else
                                        {
                                            <img src="~/img/placeholders/avatars/avatar2.jpg" alt="avatar">

                                        }
                                    }
                                </a>
                            </div>
                            <div class="sidebar-user-name">@ApplicationHelper.Username</div>
                            <div class="sidebar-user-links">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
                                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                <a href="#" class="enable-tooltip" data-placement="bottom" title="Settings" onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-cogwheel"></i></a>
                                <a href="javascript: LogOut();" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                            </div>
                        </div>
                        <!-- END User Info -->
                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            @{
                                SideBarExtracter extr = new SideBarExtracter();
                                List<Menu> Menus = extr.Menus;
                                List<SecondLevelMenu> subMenus = extr.subMenu;
                                List<NavMenu> Forms = extr.Forms;
                                List<SubcriptionModule> Subc = extr.Subcription;
                                List<RolePermission> Authentication = ApplicationHelper.lstRolePerm;
                            }
                            @foreach (var subc in Subc)
                            {
                                foreach (var Menu in Menus.Where(x => x.MenuID == subc.MenuID).ToList())
                                {
                                    <li>

                                        <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i> <i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">@Menu.MenuName</span></a>
                                        <ul>
                                            @foreach (var subMenu in subMenus.Where(x => x.MenuID == Menu.MenuID).ToList())
                                            {
                                                <li>
                                                    <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>@subMenu.SecLevelMenu</a>
                                                    <ul>
                                                        @foreach (var auth in Authentication)
                                                        {


                                                            foreach (var form in Forms.Where(x => x.SecondLevelMenuID == subMenu.SecLevelID && x.FormID == auth.FormID).ToList())
                                                            {
                                                                <li>

                                                                    <a href="@form.Url?auth=@HttpUtility.UrlEncode(ApplicationHelper.IEncrypt(auth.Parameter.Trim()+form.FormID.ToString()))">
                                                                        @form.FormName
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                }
                            }
                            @*<li>
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i> <i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Create Bilty</span></a>
                                    <ul>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Bilty</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/Bilty">

                                                        Create Bilty
                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="../Admin/BiltyGrid">Bilty Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                            @*<li>

                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i> <i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Admin Panals</span></a>
                                    <ul>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Products</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/Product">

                                                        Product
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="../Admin/ProductType">Product Type</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Vendors</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/Vendor">Vendor</a>
                                                </li>

                                                <li>
                                                    <a href="../Admin/VendorType">Vendor Type</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Expense &amp; Revenue</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/ExpenseType">Expense Type</a>
                                                </li>

                                                <li>
                                                    <a href="../Admin/RevenueType">Revenue Type</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Self</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/OwnGroup">Own Groups</a>
                                                </li>
                                                <li>
                                                    <a href="../Admin/OwnCompany">Own Companies</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Customer</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/CustomerGroup">Customer Groups</a>
                                                </li>
                                                <li>
                                                    <a href="../Admin/CustomerCompany">Customer Companies</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Vehicle</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/Vehicle">Vehicle</a>
                                                </li>
                                                <li>
                                                    <a href="../Admin/VehicleType">Vehicle Type</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Place</a>
                                            <ul>
                                                <li>
                                                    <a href="../Admin/Area">
                                                        Area
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="../Admin/City">City</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li>

                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i> <i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">User Managment</span></a>
                                    <ul>
                                        <li>
                                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="../Account/Registration">

                                                        Register new
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="../Account/UsersList">User List</a>
                                                </li>
                                            </ul>
                                        </li>


                                    </ul>
                                </li>
                                <li>
                                    <a href="../setup/setting" class=""> <i class="fa fa-cog sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Settings</span></a>

                                </li>*@
                        </ul>
                        <!-- END Sidebar Notifications -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->
            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <!-- In the PHP version you can set the following options from inc/config file -->
                <!--
                    Available header.navbar classes:

                    'navbar-default'            for the default light header
                    'navbar-inverse'            for an alternative dark header

                    'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                        'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                    'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                        'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                -->
                <header class="navbar navbar-default">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>

                        <!-- END Main Sidebar Toggle Button -->
                        <!-- Template Options -->
                        <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
                        @*<li class="dropdown">
                                <ul class="dropdown-menu dropdown-custom dropdown-options">
                                    <li class="dropdown-header text-center">Header Style</li>
                                    <li>
                                        <div class="btn-group btn-group-justified btn-group-sm">
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-default">Light</a>
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-header-inverse">Dark</a>
                                        </div>
                                    </li>
                                    <li class="dropdown-header text-center">Page Style</li>
                                    <li>
                                        <div class="btn-group btn-group-justified btn-group-sm">
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style">Default</a>
                                            <a href="javascript:void(0)" class="btn btn-primary" id="options-main-style-alt">Alternative</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@
                        <!-- END Template Options -->
                    </ul>



                    <!-- END Left Header Navigation -->
                    <!-- Search Form -->
                    @*<form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                            <div class="form-group">
                                <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                            </div>
                        </form>*@
                    <!-- END Search Form -->
                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right">
                        <!-- Alternative Sidebar Toggle Button -->
                        <li>
                            <!-- If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt'); -->
                            @*<a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');this.blur();">
                                   toggle
                                    <span class="label label-primary label-indicator animation-floating">4</span>
                                </a>*@
                        </li>
                        <!-- END Alternative Sidebar Toggle Button -->
                        <!-- User Dropdown -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                @if (ApplicationHelper.ProfileImage != null)
                                {
                                    if (ApplicationHelper.ProfileImage.Contains("."))
                                    {
                                        <img src="@ApplicationHelper.ProfileImage" alt="avatar"> <i class="fa fa-angle-down"></i>
                                    }
                                    else
                                    {
                                        <img src="~/img/placeholders/avatars/avatar2.jpg" alt="avatar"> <i class="fa fa-angle-down"></i>

                                    }
                                }
                                else
                                {
                                    <img src="~/img/placeholders/avatars/avatar2.jpg" alt="avatar"> <i class="fa fa-angle-down"></i>

                                }
                            </a>
                            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                <li class="dropdown-header text-center">Account</li>

                                <li class="divider"></li>
                                <li>

                                    <a href="@Url.Action("Logout","Account")"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                                    @*@Html.ActionLink("Logout", "Logout", "Account")*@
                                </li>


                            </ul>
                        </li>
                        <!-- END User Dropdown -->
                    </ul>
                    @*@{List<OwnCompany> ownCompanies = (List<OwnCompany>)Session["OwnCompanies"];}
                        <select class="form-control">
                            @foreach (var item in ownCompanies)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>*@
                    <!-- END Right Header Navigation -->
                </header>
                <!-- END Header -->
                <!-- Page content -->
                <div id="page-content">

                    @RenderBody()
                </div>





                <!-- END Page Content -->
                <!-- Footer -->
                <footer class="clearfix">
                    <small style="font-size:12px;"><span>2020</span> &copy; <a href="https://valstechnologies.com/" target="_blank">Vals Technologies Pvt (Ltd)</a></small>

                </footer>
                <!-- END Footer -->
            </div>
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->
    <!-- scroll To Top() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    <!--USER SETTINGS -->
    <!-- END User Settings -->
    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="~/Scripts/RequestURL.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            $("input[type='text']").attr("autocomplete", "off");
        });
    </script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/pages/index.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    @*<script src="~/js/Software js/NICFormat.js"></script>*@



    @*@Scripts.Render("~/assets/accounts/cache/jquery")
            @Scripts.Render("~/assets/accounts/cache/core")
            @if (IsSectionDefined("LinkScriptSection"))
            {
                @RenderSection("LinkScriptSection");
            }
        @Scripts.Render("~/assets/accounts/cache/function")*@
    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        function Message(title, text, type) {
            Swal.fire({
                title: title + '!',
                text: text,
                icon: type,
                confirmButtonText: 'OK'
            })
        }
    </script>
    @*@if (IsSectionDefined("InLineScriptSection"))
        {
            @RenderSection("InLineScriptSection");
        }*@
    @RenderSection("Script", false)


<script>

    const ShowMessage = (message, type) => {
        $.notify(message, type);
    };

    function NIC() {
        $("#CNIC,#OwnerNIC,#NIC").keydown(function () {

            if (event.keyCode == 8 || event.keyCode == 9
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true))

                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length == 5 || length == 13)
                $(this).val($(this).val() + '-');
        });
    }

    var autocompletefields = [];

    function initautocomplete(autocompleteObj, id, dbFieldName, tableName) {
        var $parent = $('#' + id).parent();
        $('#' + id).removeAttr('name');
        $('#' + id).attr('id', 'ac_' + id + '_ac');
        var ac_id = 'ac_' + id + '_ac';
        autocompletefields.push({ ac_fields: ac_id + "|" + id, source: autocompleteObj });
        var index = $.isNumeric(id.split('_')[2]) ? "[" + parseInt(id.split('_')[2]) + "]" : "";
        var hidden = '<input type="hidden" id="' + id + '" name="' + tableName + index + '[' + dbFieldName + ']" />';
        $parent.append(hidden);
        var acArr = $.map(autocompleteObj, function (value, key) { return { value: value, data: key }; });

        // Initialize ajax autocomplete:
        $('#' + ac_id).autocomplete({
            // serviceUrl: '/autosuggest/service/url',
            //lookup: countriesString,
            lookup: acArr,
            lookupFilter: function (suggestion, originalQuery, queryLowerCase) {
                var re = new RegExp('\\b' + $.Autocomplete.utils.escapeRegExChars(queryLowerCase), 'gi');
                return re.test(suggestion.value);
            },
            onSelect: function (suggestion) {
                $('#' + id).val(suggestion.data);
            },
            onInvalidateSelection: function () {
                $('#' + id).val('');
            }
        });
    }

    function fillautocompleteOnEdit() {
        Object.entries(autocompletefields).forEach(([index, object]) => {
            var hiddenField = $('#' + object.ac_fields.split('|')[1]).val();
            var response = returnMatchedValue(object.source, hiddenField);
            $('#' + object.ac_fields.split('|')[0]).val(response);
        });
    }

    function getXMLHttp() {
        var xmlHttp;
        try {
            xmlHttp = new XMLHttpRequest();
        }
        catch (e) {
            //Internet Explorer is different than the others
            try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
            }
            catch (e) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                catch (e) {
                    alert("You have Old Browser! Please update to use AJAX call.")
                    return false;
                }
            }
        }
        return xmlHttp;
    }

    function ajaxRequest(url, queryString) {
        var xmlHttp = getXMLHttp();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4) {
                handleResponse(xmlHttp.responseText);
            }
        }
        xmlHttp.open("POST", url, true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send(queryString);
    }

    function handleResponse(response) {
        document.getElementById('getAjaxResponse').innerHTML = '<iframe src="' + "data:application/pdf;base64,"+response + '" width="50%" height="50%"></iframe>';
    }

    function returnMatchedValue(obj, matchingKey) {
        var response = undefined;
        Object.entries(obj).forEach(([key, value]) => {
            if (key == matchingKey) {
                response = value;
            }
        });
        return response == undefined ? "" : response;
    }

    function fnSuccess(response) {
        if (response.Status != "OK") {
            Message("Required", response.Message, "error");
        }
        else {
            $('#modal-add').modal('hide');
            Message("Success", "Record Saved Success", "success");
            $("#grid").html(response.html);
            ClearItem();
            GetOrders();
        }
    }

    function ClearItem() {
        $("input").attr("value", "");
    }

    function fnFailed(error) {
        window.location.reload();
    }

    $("#SaleOrder_ShipmentTypeId").change(function () {
        if ($("#SaleOrder_ShipmentTypeId option:selected").text().includes('local')) {
            $(".lblOrderno").html('Invoice No');
        }
        else {
            $(".lblOrderno").html('Sales Order No');
        }
    })

                                    //function redir(url, auth) {
                                    //    $.ajax({
                                    //        url: url,
                                    //        type: "POST",
                                    //        data: { auth: auth.trim() },
                                    //        success: function () {
                                    //            window.location = url;
                                    //        },
                                    //        error: function () {
                                    //            alert();
                                    //        }
                                    //    });
                                    //}
</script>
    <script>

        function NIC() {
            $("#CNIC,#OwnerNIC,#NIC").keydown(function () {

                if (event.keyCode == 8 || event.keyCode == 9
                    || event.keyCode == 27 || event.keyCode == 13
                    || (event.keyCode == 65 && event.ctrlKey === true))

                    return;
                if ((event.keyCode < 48 || event.keyCode > 57))
                    event.preventDefault();

                var length = $(this).val().length;

                if (length == 5 || length == 13)
                    $(this).val($(this).val() + '-');
            });
        }

        function fnSuccess(response) {
            if (response.Status != "OK") {
                Message("Required", response.Message, "error");
            }
            else {
                $('#modal-add').modal('hide');
                Message("Success", "Record Saved Success", "success");
                $("#grid").html(response.html);
                ClearItem();
                GetOrders();
            }
        }
        function fnFailed(error) {
            window.location.reload();
        }

        $("#SaleOrder_ShipmentTypeId").change(function () {
            if ($("#SaleOrder_ShipmentTypeId option:selected").text().includes('local')) {
                $(".lblOrderno").html('Invoice No');
            }
            else {
                $(".lblOrderno").html('Sales Order No');
            }
        })

        function fnSearch(response) {
            debugger;
            $("select").chosen('destroy');
            $("select").val('');
            if (response.Status == "OK") {
                $("#grid").html(response.html);
                $("#modal-search").modal('hide');
                $(".LoaderTd").hide();
                $('.Search').show();
                $("select").chosen();
                GetOrders();
            }
            else {
                Message("Error","An error occured","error");
            }
        }

    </script>
</body>
</html>