@model IEnumerable<LiquadCargoManagment.Models.VendorType>
@using Newtonsoft.Json;
@using LiquadCargoManagment.Models
<table class="table display table-striped" id="example">
    <thead>
        <tr>

            <td>Created Date</td>
            <td>Code</td>
            <td>Name</td>
            <td>Description</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //string jsonData = JsonConvert.SerializeObject(item);
            string jsonData = "{";
            jsonData += " 'ID' : '" + item.ID + "', ";
            jsonData += " 'CreatedDate' : '" + item.CreatedDate + "', ";
            jsonData += " 'Code' : '" + item.Code + "', ";
            jsonData += " 'Name' : '" + item.Name + "', ";
            jsonData += " 'Description' : '" + item.Description + "' ,";
            jsonData += "}";
        <tr>
            @if (item.CreatedDate != null)
            {
                <td>@Convert.ToDateTime(item.CreatedDate).ToString(SoftwareFormatting.DateFormat)</td>
            }
            else
            {
                <td>@Convert.ToDateTime(item.ModifiedDate).ToString(SoftwareFormatting.DateFormat)</td>
            }
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <button type="button" onclick="viewRecordRead(@jsonData,this)" class="btn btn-primary btn-xs">
                    <i class="fa fa-eye"></i>
                </button>
                <button type="button" onclick="viewRecord(@jsonData,this)" class="btn btn-default btn-xs">
                    <i class="fa fa-edit"></i>
                </button> 
                <button type="button" onclick="DeleteModel(@item.ID)" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

