@model  LiquadCargoManagment.Models.OrderViewModel

@using LiquadCargoManagment.Models
@using LiquadCargoManagment.Helpers

@{

    Layout = "";
    double CountTotalWeight = 0;
    double CountTotalExpense = 0;
    int otherCharge = 0;
}

<!DOCTYPE html>

<html>
<head>


    <link href="~/css/A4.css" rel="stylesheet" />

    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/bootstrap.wysihtml5/lib/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .div {
            border-style: groove;
            border-width: 1px;
            border-color: black;
            font-weight: bold;
            width: 120px;
        }

        body {
            background-color: #FFFFFF;
        }

        #tblCustomer {
            border: 1px solid double;
        }

        table .tr {
            margin-top: 0px;
        }

        table .th {
            text-align: center;
        }
    </style>
</head>
<body style="font-size:11px; height:700px !important;">
    <table style="width:100%;">
        <tr>
            <td></td>
            @if (Model.lstChallan.OwnCompany != null)
            {
                <td colspan="">
                    <div class="text-center align-text-top" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important">@Model.lstChallan.OwnCompany.Name</div>
                    <p class="text-center" style="word-break:break-word; margin-left:10%; margin-right:10%;"> @Model.lstChallan.OwnCompany.Address</p>
                </td>
            }
            else
            {
                <td colspan="">
                    <div class="text-center" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important"></div>
                </td>
            }
            @if (Model.lstChallan.OwnCompany != null)
            {
                <td width="10%" align="center">
                    <img src="~/assets/OwnCompanyLogo/@Model.lstChallan.OwnCompany.CompanyLogo" width="110" height="110" style="padding-bottom:10px" />
                </td>
            }
            else
            {
                <td width="10%" align="center"></td>
            }

        </tr>

        <tr>
            <td width="20%" valign="top">
                @if (Model.lstChallan.OwnCompany.Contact != null)
                {
                    <div style="font-weight:bold;font-size:13px !important" class="text-center div">
                        Bilty Inquiry<br />@Model.lstChallan.OwnCompany.Contact
                    </div>
                }
                else
                {
                    <div style="font-weight:bold;font-size:13px !important" class="text-center div">
                        Bilty Inquiry<br />
                    </div>
                }

            </td>
            <td width="60%" class="text-center" style="font-size:18px;font-weight:bold">
                Driver Challan
            </td>
            <!--<td >-->
            @*<div class="text-center" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important">@Model.lstChallan.OwnCompany.Name</div>*@
            <!--</td>-->
            @if (Model.lstChallan.ChallanNo != 0)
            {
                <td width="20%">
                    <div style="width:134px;font-size:13px !important" class="text-center div">Customer Copy <br /> Challan# : @Model.lstChallan.ChallanNo</div>
                </td>
            }
            else
            {
                <td width="20%">
                    <div style="width:134px;font-size:13px !important" class="text-center div">Customer Copy <br /> Challan# : </div>
                </td>
            }

        </tr>
        <tr>
            <td><div><br /></div></td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <table width="100%" style="">
                        <tr>
                            <td width="13%" style="font-weight:bolder">Challan Date</td>
                            @if (Model.lstChallan.ChallanDate != null)
                            {
                                <td width="11%">@Convert.ToDateTime(Model.lstChallan.ChallanDate).ToString("dd-MMM-yyyy")</td>
                            }
                            else
                            {
                                <td width="11%"></td>
                            }


                            <td width="13%" style="font-weight:bold">Vehicle Reg#</td>
                            @if (Model.lstChallan.VehicleID != null)
                            {
                                <td width="12%">@Model.lstChallan.Vehicle.RegNo</td>
                            }
                            else
                            {
                                <td width="12%"></td>
                            }

                            <td width="13%" style="font-weight:bold">Driver Name</td>
                            @if (Model.lstChallan.DriverID != null)
                            {
                                <td>@Model.lstChallan.Driver.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td width="13%" style="font-weight:bold">Broker Name</td>
                            @if (Model.lstChallan.VendorID != null)
                            {
                                <td>@Model.lstChallan.Vendor.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        </tr>
                        <tr>
                            <td style="font-weight:bold">Manual Challan #</td>
                            @if (Model.lstChallan.ChallanManualNo != null)
                            {
                                <td>@Model.lstChallan.ChallanManualNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">External Vehicle:</td>
                            @if (Model.lstChallan.ExternalVehicleNo != null)
                            {
                                <td> @Model.lstChallan.ExternalVehicleNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">Driver Contact:</td>
                            @if (Model.lstChallan.DriverID != null)
                            {
                                <td>@Model.lstChallan.Driver.CellNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">Broker Contact#</td>
                            @if (Model.lstChallan.VendorID != null)
                            {
                                <td>@Model.lstChallan.Vendor.OwnerContactNo</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>

                        <tr>
                            <td><div><br /></div></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="margin-left:10px; margin-right:10px;">
                    <table id="tblCustomer" class="table-responsive" width="100%" height="150px" border="1">
                        <thead style="border:1px solid black; ">
                            <tr style="text-align: center;">
                                <th class="text-center">Bilty No</th>
                                <th class="text-center">Sender Name</th>
                                <th class="text-center">Reciever Name</th>
                                <th class="text-center">Product Type</th>
                                <th class="text-center">Product</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Wg</th>
                                <th class="text-center">ToPay</th>
                                <th>Paid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:30%">

                                @{
                                    double? qtyCount = 0;
                                    double? weightCount = 0;
                                    double? freightcount = 0;
                                }
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderNo != 0)
                                        {
                                            <text>@item.Bilty.OrderNo</text><br />
                                        }
                                        else
                                        {
                                            <text></text><br />
                                        }
                                    }

                                </td>
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.PickLocation != null)
                                        {
                                            <span>@item.Bilty.PickLocation1.LocationName</span><br />
                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }

                                    }
                                </td>
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.Reciever != null)
                                        {
                                            <span> @item.Bilty.PickLocation2.LocationName </span><br />
                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }
                                    }

                                </td>

                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        foreach (var bilty in item.Bilty.BiltyDetails)
                                        {
                                            if (bilty.Category.Name != null)
                                            {
                                                <span>&nbsp;&nbsp;@bilty.Category.Name</span><br />
                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;</span><br />
                                            }
                                        }
                                    }
                                </td>

                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        foreach (var bilty in item.Bilty.BiltyDetails)
                                        {
                                            if (bilty.ProductId != null)
                                            {
                                                <span>&nbsp;&nbsp;@bilty.Product.Name</span><br />
                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;</span><br />
                                            }
                                        }
                                    }
                                </td>

                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderDetailsTotalQTY != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.OrderDetailsTotalQTY)&nbsp;&nbsp;</span><br />
                                        }
                                        else
                                        {
                                            <span>0&nbsp;&nbsp;</span><br />
                                        }
                                    }
                                </td>
                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderDetailsTotalWeight != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.OrderDetailsTotalWeight)&nbsp;&nbsp;</span><br />
                                        }
                                        else
                                        {
                                            <span>0 &nbsp;&nbsp;</span><br />
                                        }

                                    }
                                </td>

                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.CustomerType == "To Pay" || item.Bilty.CustomerType != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.TotalFreight)&nbsp;&nbsp</span><br />

                                            qtyCount += item.Bilty.OrderDetailsTotalQTY;
                                            weightCount += item.Bilty.OrderDetailsTotalWeight;
                                            freightcount += item.Bilty.TotalFreight;

                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }


                                    }
                                </td>

                                <td>
                                    @*@foreach (var items in item.BiltyDetails)
                                        {

                                            if (item.CustomerType == "Paid" || item.CustomerType != null)
                                            {
                                                <span></span>

                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;@item.CustomerType</span>
                                            }

                                        }*@

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center" style="font-weight:bolder">Total</td>
                                <td align="right">
                                    @string.Format(SoftwareFormatting.NumberFormat, qtyCount)
                                </td>
                                <td align="right"> @string.Format(SoftwareFormatting.NumberFormat, weightCount)</td>

                                @foreach (var item in Model.lstBiltyList)
                                {
                                    if (item.CustomerType == "To Pay" || item.CustomerType != null)
                                    {
                                        <td align="right">
                                            @string.Format(SoftwareFormatting.NumberFormat, freightcount)
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    if (item.CustomerType == "Paid" || item.CustomerType != null)
                                    {

                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;&nbsp;item.CustomerType</td>
                                    }
                                }
                            </tr>
                        </tfoot>
                    </table>


                </div>

            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div>
                    <table width="100%" style="margin-top:70%;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>___________________________</p>
                                    <p style="font-weight:bold; font-size:14px;">Driver Signature</p>
                                </td>
                                <td>
                                    <p>_____________________________</p>
                                    <p style="font-weight:bold; font-size:14px;">Loading Clerk</p>
                                <td width="26%">
                                    <p>_____________________________</p>
                                    <p style="margin-bottom:40px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-right"><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp; @ApplicationHelper.Username</p>
                                    @if (Model.lstChallan.ID != 0)
                                    {
                                        <p class="text-right"><strong>Document# :</strong>&nbsp;&nbsp; @Model.lstChallan.ID</p>
                                    }
                                    else
                                    {
                                        <p class="text-right"><strong>Document# :</strong></p>
                                    }

                                </td>
                            </tr>
                            @*<tr>
                                    <td colspan="3" align="right">
                                        <p>Username :@ApplicationHelper.Username</p>
                                        @if (Model.lstChallan.ID != null)
                                        {
                                            <p>Document# @Model.lstChallan.ID</p>
                                        }
                                        else
                                        {
                                            <p>Document# </p>
                                        }

                                    </td>
                                </tr>*@
                            <tr>
                                <td><div><br /></div></td>
                            </tr>
                            <tr class="text-center" style="margin-top:100px;">
                                <td colspan="3"><p>Powered by Vals Technologies | www.Valstechnologies.com | UAN: 0304 111 66 88 </p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

    </table>

    <p style="page-break-after:always"></p>



    <table style="width:100%;">
        <tr>
            <td></td>
            @if (Model.lstChallan.OwnCompany != null)
            {
                <td colspan="">
                    <div class="text-center align-text-top" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important">@Model.lstChallan.OwnCompany.Name</div>
                    <p class="text-center" style="word-break:break-word; margin-left:10%; margin-right:10%;"> @Model.lstChallan.OwnCompany.Address</p>
                </td>
            }
            else
            {
                <td colspan="">
                    <div class="text-center" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important"></div>
                </td>
            }
            @if (Model.lstChallan.OwnCompany != null)
            {
                <td width="10%" align="center">
                    <img src="~/assets/OwnCompanyLogo/@Model.lstChallan.OwnCompany.CompanyLogo" width="110" height="110" style="padding-bottom:10px" />
                </td>
            }
            else
            {
                <td width="10%" align="center"></td>
            }

        </tr>

        <tr>
            <td width="20%" valign="top">
                @if (Model.lstChallan.OwnCompany.Contact != null)
                {
                    <div style="font-weight:bold;font-size:13px !important" class="text-center div">
                        Bilty Inquiry<br />@Model.lstChallan.OwnCompany.Contact
                    </div>
                }
                else
                {
                    <div style="font-weight:bold;font-size:13px !important" class="text-center div">
                        Bilty Inquiry<br />
                    </div>
                }

            </td>
            <td width="60%" class="text-center" style="font-size:18px;font-weight:bold">
                Driver Challan
            </td>
            <!--<td >-->
            @*<div class="text-center" style="font-size:17px !important;font-weight:bold;font-family:Arial Black !important">@Model.lstChallan.OwnCompany.Name</div>*@
            <!--</td>-->
            @if (Model.lstChallan.ChallanNo != 0)
            {
                <td width="20%">
                    <div style="width:134px;font-size:13px !important" class="text-center div">Office Copy <br /> Challan# : @Model.lstChallan.ChallanNo</div>
                </td>
            }
            else
            {
                <td width="20%">
                    <div style="width:134px;font-size:13px !important" class="text-center div">Office Copy <br /> Challan# : </div>
                </td>
            }

        </tr>
        <tr>
            <td><div><br /></div></td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <table width="100%" style="">
                        <tr>
                            <td width="13%" style="font-weight:bolder">Challan Date</td>
                            @if (Model.lstChallan.ChallanDate != null)
                            {
                                <td width="11%">@Convert.ToDateTime(Model.lstChallan.ChallanDate).ToString("dd-MMM-yyyy")</td>
                            }
                            else
                            {
                                <td width="11%"></td>
                            }


                            <td width="13%" style="font-weight:bold">Vehicle Reg#</td>
                            @if (Model.lstChallan.VehicleID != null)
                            {
                                <td width="12%">@Model.lstChallan.Vehicle.RegNo</td>
                            }
                            else
                            {
                                <td width="12%"></td>
                            }

                            <td width="13%" style="font-weight:bold">Driver Name</td>
                            @if (Model.lstChallan.DriverID != null)
                            {
                                <td>@Model.lstChallan.Driver.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td width="13%" style="font-weight:bold">Broker Name</td>
                            @if (Model.lstChallan.VendorID != null)
                            {
                                <td>@Model.lstChallan.Vendor.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        </tr>
                        <tr>
                            <td style="font-weight:bold">Manual Challan #</td>
                            @if (Model.lstChallan.ChallanManualNo != null)
                            {
                                <td>@Model.lstChallan.ChallanManualNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">External Vehicle:</td>
                            @if (Model.lstChallan.ExternalVehicleNo != null)
                            {
                                <td> @Model.lstChallan.ExternalVehicleNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">Driver Contact:</td>
                            @if (Model.lstChallan.DriverID != null)
                            {
                                <td>@Model.lstChallan.Driver.CellNo</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td style="font-weight:bold">Broker Contact#</td>
                            @if (Model.lstChallan.VendorID != null)
                            {
                                <td>@Model.lstChallan.Vendor.OwnerContactNo</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>

                        <tr>
                            <td><div><br /></div></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="margin-left:10px; margin-right:10px;">
                    <table id="tblCustomer" class="table-responsive" width="100%" height="150px" border="1">
                        <thead style="border:1px solid black; ">
                            <tr style="text-align: center;">
                                <th class="text-center">Bilty No</th>
                                <th class="text-center">Sender Name</th>
                                <th class="text-center">Reciever Name</th>
                                <th class="text-center">Product Type</th>
                                <th class="text-center">Product</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Wg</th>
                                <th class="text-center">ToPay</th>
                                <th>Paid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:30%">

                                @{
                                    double? qty = 0;
                                    double? weight = 0;
                                    double? freight = 0;
                                }
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderNo != 0)
                                        {
                                            <text>@item.Bilty.OrderNo</text><br />
                                        }
                                        else
                                        {
                                            <text></text><br />
                                        }
                                    }

                                </td>
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.PickLocation != null)
                                        {
                                            <span>@item.Bilty.PickLocation1.LocationName</span><br />
                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }

                                    }
                                </td>
                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.Reciever != null)
                                        {
                                            <span> @item.Bilty.PickLocation2.LocationName </span><br />
                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }
                                    }

                                </td>

                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        foreach (var bilty in item.Bilty.BiltyDetails)
                                        {
                                            if (bilty.Category.Name != null)
                                            {
                                                <span>&nbsp;&nbsp;@bilty.Category.Name</span><br />
                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;</span><br />
                                            }
                                        }
                                    }
                                </td>

                                <td>
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        foreach (var bilty in item.Bilty.BiltyDetails)
                                        {
                                            if (bilty.ProductId != null)
                                            {
                                                <span>&nbsp;&nbsp;@bilty.Product.Name</span><br />
                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;</span><br />
                                            }
                                        }
                                    }
                                </td>

                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderDetailsTotalQTY != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.OrderDetailsTotalQTY)&nbsp;&nbsp;</span><br />
                                        }
                                        else
                                        {
                                            <span>0&nbsp;&nbsp;</span><br />
                                        }
                                    }
                                </td>
                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.OrderDetailsTotalWeight != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.OrderDetailsTotalWeight)&nbsp;&nbsp;</span><br />
                                        }
                                        else
                                        {
                                            <span>0 &nbsp;&nbsp;</span><br />
                                        }

                                    }
                                </td>

                                <td align="right">
                                    @foreach (var item in Model.compactchecklist)
                                    {
                                        if (item.Bilty.CustomerType == "To Pay" || item.Bilty.CustomerType != null)
                                        {
                                            <span>@string.Format(SoftwareFormatting.NumberFormat, item.Bilty.TotalFreight)&nbsp;&nbsp</span><br />

                                            qty += item.Bilty.OrderDetailsTotalQTY;
                                            weight += item.Bilty.OrderDetailsTotalWeight;
                                            freight += item.Bilty.TotalFreight;

                                        }
                                        else
                                        {
                                            <span></span><br />
                                        }


                                    }
                                </td>

                                <td>
                                    @*@foreach (var items in item.BiltyDetails)
                                        {

                                            if (item.CustomerType == "Paid" || item.CustomerType != null)
                                            {
                                                <span></span>

                                            }
                                            else
                                            {
                                                <span>&nbsp;&nbsp;@item.CustomerType</span>
                                            }

                                        }*@

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center" style="font-weight:bolder">Total</td>
                                <td align="right">
                                    @string.Format(SoftwareFormatting.NumberFormat, qtyCount)
                                </td>
                                <td align="right"> @string.Format(SoftwareFormatting.NumberFormat, weightCount)</td>

                                @foreach (var item in Model.lstBiltyList)
                                {
                                    if (item.CustomerType == "To Pay" || item.CustomerType != null)
                                    {
                                        <td align="right">
                                            @string.Format(SoftwareFormatting.NumberFormat, freightcount)
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    if (item.CustomerType == "Paid" || item.CustomerType != null)
                                    {

                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;&nbsp;item.CustomerType</td>
                                    }
                                }
                            </tr>
                        </tfoot>
                    </table>


                </div>

            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div>
                    <table width="100%" style="margin-top:530px;">
                        <tbody>
                            <tr>
                                <td>
                                    <p>___________________________</p>
                                    <p style="font-weight:bold; font-size:14px;">Driver Signature</p>
                                </td>
                                <td>
                                    <p>_____________________________</p>
                                    <p style="font-weight:bold; font-size:14px;">Loading Clerk</p>
                                <td width="26%">
                                    <p>_____________________________</p>
                                    <p style="margin-bottom:40px;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-right"><strong>Username&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp; @ApplicationHelper.Username</p>
                                    @if (Model.lstChallan.ID != 0)
                                    {
                                        <p class="text-right"><strong>Document# :</strong>&nbsp;&nbsp; @Model.lstChallan.ID</p>
                                    }
                                    else
                                    {
                                        <p class="text-right"><strong>Document# :</strong></p>
                                    }

                                </td>
                            </tr>
                            @*<tr>
                                    <td colspan="3" align="right">
                                        <p>Username :@ApplicationHelper.Username</p>
                                        @if (Model.lstChallan.ID != null)
                                        {
                                            <p>Document# @Model.lstChallan.ID</p>
                                        }
                                        else
                                        {
                                            <p>Document# </p>
                                        }

                                    </td>
                                </tr>*@
                            <tr>
                                <td><div><br /></div></td>
                            </tr>
                            <tr class="text-center" style="margin-top:100px;">
                                <td colspan="3"><p>Powered by Vals Technologies | www.Valstechnologies.com | UAN: 0304 111 66 88 </p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

    </table>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    @if (ViewBag.isOnePage == true)
    {
        <script>

            $(document).ready(function () {
                //var pdf = new jsPDF("letter");
                var pdf = new jsPDF('p', 'mm', [297, 210]);
                pdf.setFillColor(17, 22, 22, 1);
                //pdf.canvas.height = 72 * 11;
                //pdf.canvas.width = 72 * 8.5;
                pdf.addHTML(document.body, function () {
                    window.close
                    @*pdf.save('@.OrderNo' + '.pdf');*@
                });
            });

        </script>
    }
    else
    {
        <script type="text/javascript">
            window.print();
        </script>
    }

</body>
</html>








