@model LiquadCargoManagment.Areas.Accounts.Models.ChartOfAccountsModel
@using LiquadCargoManagment.Areas.Accounts.Helpers;

@{ 
Layout = "~/Areas/Accounts/Views/Shared/_Layout1.cshtml";
}
@section LinkStyleSection{
    @Styles.Render("~/assets/accounts/cache/datepickerstyle")
    @Styles.Render("~/assets/accounts/cache/select2style")
}
@section LinkScriptSection{
    @Scripts.Render("~/assets/accounts/cache/datepickerscript")
    @Scripts.Render("~/assets/accounts/cache/select2script")
}
@section InLineScriptSection{
    <script>
    @if (ViewBag.PageType == "View")
    {
       @:DisableView();
    }
    </script>
}

<!--Page content-->
<!--===================================================-->
<div id="page-content">
    @{Html.RenderPartial("BreadCrumb");}
    <div class="panel">
        <!--Block Styled Form -->
        <!--===================================================-->
        @using (Ajax.BeginForm("Save", "chartofaccounts", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnFormBegin", OnComplete = "OnFormComplete", OnSuccess = "OnFormSuccess", OnFailure = "OnFormFailure" }, new { @id = "FormMember", @autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Account Head<span class="text-danger">*</span></label>
                            @Html.DropDownListFor(m => m.AccountsHeadId, new SelectList(ViewBag.AccountsHead, "ID", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AccountsHeadId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">GL Type<span class="text-danger">*</span></label>
                            @Html.DropDownListFor(m => m.GLTypeId, new SelectList(ViewBag.GLTypes, "ID", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GLTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br clear="all" />
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Sub Accounts<span class="text-danger">*</span></label>
                            @Html.DropDownListFor(m => m.SubAccountsId, new SelectList(ViewBag.SubAccounts, "ID", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SubAccountsId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Name <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", @placeholder = "Name *" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Status <span class="text-danger">*</span></label>
                            @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.StatusRecords, "Value", "Text"), new { @class = "form-control", @tabindex = "12" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a class="btn btn-info" href="@ViewBag.PageURL" tabindex="8">Back</a>
                <button class="btn btn-success" type="submit" tabindex="9">Save</button>
            </div>
        }
        <!--===================================================-->
        <!--End Block Styled Form -->
    </div>
</div>
<!--===================================================-->
<!--End page content-->
