
@model IEnumerable<LiquadCargoManagment.Models.LocalDropUniversalBilty>
@using LiquadCargoManagment.Models

@{
    ViewBag.Title = "LocalDropList";
}

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Local Drop Bilty List</h2>
        </div>
    </div>
    <div id="grid">
        <table class="table display table-striped" id="example">
            <thead>
                <tr>
                    <td>Created Date</td>
                    <td>Bilty No</td>
                    <td>Bilty Date</td>
                    <td>Sender</td>
                    <td>Receiver</td>
                    <td>BillTo</td>
                    <td>Local Pick Date</td>
                    <td>Operation</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        @if (item.CreatedDate != null)
                        {
                            <td>@Convert.ToDateTime(item.CreatedDate).ToString(SoftwareFormatting.DateFormat)</td>
                        }
                        else
                        {
                            <td>@Convert.ToDateTime(item.ModifiedDate).ToString(SoftwareFormatting.DateFormat)</td>
                        }
                        <td></td>
                        <td></td>
                        @if (item.ConsignerSender != null)
                        {
                            <td>@item.CustomerProfile.CustomerCompany.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.ConsignerReceiver != null)
                        {
                            <td>@item.CustomerProfile1.CustomerCompany.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.BillTo != null)
                        {
                            <td>@item.CustomerProfile2.CustomerCompany.Name</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Convert.ToDateTime(item.LocalPickDate).ToString(SoftwareFormatting.DateFormat)</td>
                        <td>
                            <a href="../Admin/LocalDrop?id=@item.ID" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="../Admin/LocalDrop?id=@item.ID" class="btn btn-default btn-xs">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button" onclick="DeleteModel(@item.ID)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/Function.js"></script>
@section Script
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable();
        });
        function GetOrders() {
            $('#example').DataTable();
        }

        function DeleteModel(Id) {
            debugger;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: `../Admin/DeleteLocalDrop`,
                        type: 'POST',
                        data: { ID: Id },
                        success: function (res) {
                            if (res.Status != "OK") {
                                Message("Error", res.Message, "error");
                            }
                            else {
                                $("#grid").html(res.html);
                                GetOrders();
                                Message("Success", "Record Deleted Success", "success");
                            }
                        },
                        error: function () {
                            Message("Error", "Use another forms please check now !", "error");
                        }
                    });

                }
            })

        }

    </script>
}

