@model LiquadCargoManagment.Models.SaleOrder
@{
    ViewBag.Title = "NewSalesOrder";
}

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Sales Order</h2>
        </div>
    </div>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3">
                <label>Order Date</label>
                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Que No.</label>
                @Html.EditorFor(model => model.QueNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QueNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>Shipment Type</label>
                @Html.DropDownListFor(m => m.ShipmentTypeId, new SelectList(ViewBag.ShipmentType, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                @Html.ValidationMessageFor(model => model.ShipmentTypeId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Sales Order No.</label>
                @Html.EditorFor(model => model.SaleOrderNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaleOrderNo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>Loading Date</label>
                @Html.EditorFor(model => model.LoadingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoadingDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Manual No.</label>
                @Html.EditorFor(model => model.SaleOrderNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaleOrderNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>Vehicle Reg No.</label>
                @Html.DropDownListFor(m => m.VehicleId, new SelectList(ViewBag.VehicleRegNo, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Delivery/Token No.</label>
                @Html.EditorFor(model => model.TokenNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TokenNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Loading Information</h2>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <label>Loading Code</label>
                    @Html.EditorFor(model => model.LoadingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoadingDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    <label>Loading Location</label>
                    @Html.DropDownListFor(m => m.LoadingLocationId, new SelectList(ViewBag.LoadingLocation, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                    @Html.ValidationMessageFor(model => model.LoadingLocationId, "", new { @class = "text-danger" })
                </td>
                <td>
                    <label>Province</label>
                    @Html.TextBox("Province", "", new { @class = "form-control" })
                    @*@Html.DropDownList("ProvinceID",ViewBag.Province as SelectList,"--Select--", new { @class="form-control"})*@
                </td>
                <td>
                    <label>City</label>
                    @Html.TextBox("City", "", new { @class = "form-control" })
                    @*@Html.DropDownList("CityID", ViewBag.City as SelectList, "--Select--", new { @class = "form-control" })*@
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table Loading_Information" id="Loading_Information">
        <thead>
            <tr>
                <td><label>Loading Code</label></td>
                <td><label>Destination Location</label></td>
                <td><label>Province</label></td>
                <td><label>City</label></td>
                <td><label>Product</label></td>
                <td><label>Product Qty</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(model => model.LoadingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoadingDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LoadingLocationId, new SelectList(ViewBag.LoadingLocation, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                    @Html.ValidationMessageFor(model => model.LoadingLocationId, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBox("Province", "", new { @class = "form-control" })
                    @*@Html.DropDownList("ProvinceID", ViewBag.Province as SelectList, "--Select--", new { @class = "form-control" })*@
                </td>
                <td>
                    @Html.TextBox("City", "", new { @class = "form-control" })
                    @*@Html.DropDownList("CityID", ViewBag.City as SelectList, "--Select--", new { @class = "form-control" })*@
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LoadingLocationId, new SelectList(ViewBag.LoadingLocation, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                    @Html.ValidationMessageFor(model => model.LoadingLocationId, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBox("ProductQty", "", new { @class = "form-control text-right",@onkeyup= "Grandtotal('#Loading_Information',5,'Qty')" })
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="AddLoading(this)"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="grand_total" style="font-weight:bold;">
                <td colspan="5">
                    Grand Total :
                </td>
                <td colspan="2" class="text-right" style="padding-right:70px"></td>
            </tr>
        </tfoot>
    </table>

</div>

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Vehicle Expenses</h2>
        </div>
    </div>

    <table class="table VehicleExpense">
        <thead>
            <tr>
                <td><label>Expense Type</label></td>
                <td><label>Payment Method</label></td>
                <td><label>Bank Br</label></td>
                <td><label>Instrument #</label></td>
                <td><label>Cheque Date</label></td>
                <td><label>Amount Rs.</label></td>
                <td><label>Received By</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(model => model.LoadingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.DropDownList("ExpenseTypeID", ViewBag.ExpenseType as SelectList, "--Select--", new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.LoadingDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LoadingLocationId, new SelectList(ViewBag.Payment), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoadingLocationId, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBox("BankBr", "", new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("Instrument", "", new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("ChequeDate", "", new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("VehicleAmount", "", new { @class = "form-control text-right",@onkeyup= "Grandtotal('.VehicleExpense',5,'Amount')" })
                </td>
                <td>
                    @Html.TextBox("ReceivedBy", "", new { @class = "form-control" })
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="AddVehicleExpense(this)"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="grand_total_Vehicle" style="font-weight:bold">
                <td colspan="5">
                    Grand Total
                </td>
                <td colspan="3" class="text-right" style="padding-right:222px"></td>
            </tr>
        </tfoot>
    </table>

</div>

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Diesel Issuance</h2>
        </div>
    </div>

    <table class="table Diesel">
        <thead>
            <tr>
                <td><label>Code</label></td>
                <td><label>Filling Stations</label></td>
                <td><label>Diesel Receipt No</label></td>
                <td><label>Diesel (L)</label></td>
                <td><label>Rate</label></td>
                <td><label>Amount Rs.</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(model => model.LoadingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoadingDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LoadingLocationId, new SelectList(ViewBag.LoadingLocation, "Value", "Text"), new { @class = "form-control", @tabindex = "1" })
                    @Html.ValidationMessageFor(model => model.LoadingLocationId, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBox("DieselReceiptNo", "", new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("DieselLiter", "", new { @class = "form-control text-right", @onkeyup= "Grandtotal('.Diesel',3,'DieselLiter')" })
                </td>
                <td>
                    @Html.TextBox("Rate", "", new { @class = "form-control text-right", @onkeyup = "Grandtotal('.Diesel',4,'Rate')" })
                </td>
                <td>
                    @Html.TextBox("Amount", "", new { @class = "form-control text-right", @onkeyup = "Grandtotal('.Diesel',5,'AmountRs')" })
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="AddDiesel(this)"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr style="font-weight:bold;" class="grand_total_Diesel">
                <td colspan="3">
                    Grand Total
                </td>
                <td class="text-right" style="padding-right:16px"></td>
                <td class="text-right" style="padding-right:16px"></td>
                <td colspan="2" class="text-right" style="padding-right:70px"></td>
            </tr>
            <tr>
                <td colspan="7">
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> | Save</button>
                </td>
            </tr>
        </tfoot>
    </table>

</div>


@section Script
{
    <script>

        $(document).ready(function () {
            $("#ChequeDate").datepicker({
                altField: "#ChequeDate",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
            $("#OrderDate").datepicker({
                altField: "#OrderDate",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
            $("#LoadingDate").datepicker({
                altField: "#LoadingDate",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
        });

        function AddVehicleExpense(A) {
            debugger;
            var parent = $(A).parent("td").parent("tr").html();
            parent = parent.replace("btn-primary", "btn-danger").replace("fa-plus", "fa-trash").replace("AddVehicleExpense", "remove");
            $(".VehicleExpense").find("tbody").append(`<tr>${parent}</tr>`);
        }
        function AddDiesel(A) {
            debugger;
            var parent = $(A).parent("td").parent("tr").html();
            parent = parent.replace("btn-primary", "btn-danger").replace("fa-plus", "fa-trash").replace("AddDiesel", "remove");
            $(".Diesel").find("tbody").append(`<tr>${parent}</tr>`);
        }
        function AddLoading(A) {
            debugger;
            var parent = $(A).parent("td").parent("tr").html();
            parent = parent.replace("btn-primary", "btn-danger").replace("fa-plus", "fa-trash").replace("AddLoading", "remove");
            $(".Loading_Information").find("tbody").append(`<tr>${parent}</tr>`);
        }
        function remove(e) {
            $(e).parent("td").parent("tr").fadeOut(100, function () { $(this).remove(); });
        }

        function Grandtotal(q, totalColumnIndex, type) {
            debugger;
            let grTotal = 0;
            for (var i = 0; i < $(q).find("tbody tr").length; i++) {

                grTotal += parseFloat($(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim() == "" ? 0 : $(q).find(`tbody tr:eq(${i}) td:eq(${totalColumnIndex}) input`).val().trim());
            }
            if (type == "Qty") {
                $(q).find("tfoot tr.grand_total td:eq(1)").text(grTotal);
            }
            else if (type == "DieselLiter") {
                $(q).find("tfoot tr.grand_total_Diesel td:eq(1)").text(grTotal);
            }
            else if (type == "Rate") {
                $(q).find("tfoot tr.grand_total_Diesel td:eq(2)").text(grTotal);
            }
            else if (type == "AmountRs") {
                $(q).find("tfoot tr.grand_total_Diesel td:eq(3)").text(grTotal);
            }
            if (type == "Amount") {
                $(q).find("tfoot tr.grand_total_Vehicle td:eq(1)").text(grTotal);
            }
        }

        $("table").on("change", "input", function () {
            var tableRow = $(this).closest("tr");
            var one = Number(tableRow.find("#DieselLiter").val());
            var two = Number(tableRow.find("#Rate").val());
            var total = one * two;
            tableRow.find("#Amount").val(total);
        });

    </script>
}

