
@{
    ViewBag.Title = "ParchonChallan";
}

<style>
    #grid {
        display: none;
    }
</style>

<div class="content-header">

    <div class="header-section">
        <h1>
            Parchoon Challan <br><small>Create Read Update Delete Parchoon Challan</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Admin</li>
    <li><a href="javascript:;"> Create Parchoon Challan</a></li>
</ul>
<!-- END Datatables Content -->

<div class="block full">
    <div class="block-title row">
        <div class="col-md-12">
            <h2>Parchoon Challan</h2>
        </div>
    </div>

    @using (Ajax.BeginForm("SearchChallanBilty", "ParchonBilty", new AjaxOptions() { HttpMethod = "GET", OnSuccess = "fnSuccessSearch", OnFailure = "fnFailedSearch" }))
    {
        <table class="table table-responsive" id="Reset">
            <tbody>
                <tr>
                    <td width="25%">
                        <label class="control-label">Date From</label>
                        <input type="text" id="DateFrom" name="DateFrom" class="form-control" />
                    </td>
                    <td width="25%">
                        <label class="control-label">Date To</label>
                        <input type="text" id="DateTo" name="DateTo" class="form-control" />
                    </td>
                    <td width="25%">
                        <label class="control-label">BiltyNo</label>
                        <input type="text" id="BiltyNo" name="OrderNo" class="form-control" />
                    </td>
                    <td width="25%">
                        <label class="control-label">Bill To</label>
                        @Html.DropDownList("BillTo", ViewBag.CustomerCompany as SelectList, "--Select--", new { @class = "form-control select-chosen" })
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <label class="control-label">Vehicle</label>
                        @Html.DropDownList("Vehicle", ViewBag.VehicleTypes as SelectList, "--Select--", new { @class = "form-control select-chosen" })
                    </td>
                    <td width="25%">
                        <label class="control-label">Sender</label>
                        @Html.DropDownList("Sender", ViewBag.Cities as SelectList, "--Select--", new { @class = "form-control select-chosen" })
                    </td>
                    <td width="25%">
                        <label class="control-label">Receiver</label>
                        @Html.DropDownList("Receiver", ViewBag.Receivers as SelectList, "--Select--", new { @class = "form-control select-chosen" })
                    </td>
                    <td width="25%">
                        <label class="control-label">Own Company</label>
                        @Html.DropDownList("OwnCompany", ViewBag.OwnCompany as SelectList, "--Select--", new { @class = "form-control select-chosen" })
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <a id="" class="btn btn-primary pull-right" onclick="AddChallanRow(this);$('#modal-add').modal('show');GetLocationDDL()" href="#" style="margin-left:5px;"><i class="fa fa-plus"></i> | Add To Challan</a>
                        <button type="submit" class="btn btn-primary pull-right" style="margin-left:5px;"><b><i class="fa fa-search"></i> | Search Bilty</b></button>
                        <button type="button" class="btn btn-danger pull-right" id="btnReset" onclick="ResetSearch(this)"><b><i class="fa fa-trash"></i> | Clear</b></button>
                    </td>
                </tr>
            </tfoot>
        </table>
    }

    <div class="" id="grid">
        @Html.Partial("_SearchParchoonChallan")
    </div>
</div>

<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title"><i class="fa fa-pencil"></i> Add Parchoon Challan</h2>
            </div>
            <div class="modal-body">
                <table class="table" id="Challantbl">
                    <tbody>
                        <tr>
                            <td>
                                <input type="hidden" name="ID" id="hfEditID" />
                                <label class="control-label">Challan Date</label>
                                <input type="text" id="ChallanDate" name="ChallanDate" class="form-control input-sm" />
                            </td>
                            <td>
                                <label class="control-label">Challan No</label>
                                <input type="text" id="ChallanManualNo" maxlength="6" name="ChallanManualNo" class="form-control input-sm" />
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                <label class="control-label">PickLocation</label>
                                <select class="form-control SearchAble" id="PickLocationID" onchange="GetPickLocation(this)" onclick="SearchAble()">
                                    <option>--Select--</option>
                                </select>
                            </td>
                            <td width="25%">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control input-sm" id="PickCity" disabled />
                            </td>
                            <td width="25%">
                                <label class="control-label">Area</label>
                                <input type="text" class="form-control input-sm" id="PickArea" disabled />
                            </td>
                            <td colspan="2" width="25%">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control input-sm" id="PickAddress" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Drop Location</label>
                                <select class="form-control SearchAble" id="DropLocationID" onchange="GetDropLocation(this)" onclick="SearchAble()">
                                    <option>--Select--</option>
                                </select>
                            </td>
                            <td>
                                <label class="control-label">City</label>
                                <input type="text" class="form-control input-sm" id="DropCity" disabled />
                            </td>
                            <td>
                                <label class="control-label">Area</label>
                                <input type="text" class="form-control input-sm" id="DropArea" disabled />
                            </td>
                            <td colspan="2">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control input-sm" id="DropAddress" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">VehicleCode</label>
                                @Html.DropDownList("VehicleID", ViewBag.Vehicle as SelectList, "Select", new { @class = "form-control form-control-sm select-chosen", @onchange = "GetVehicle(this)" })
                            </td>
                            <td>
                                <label class="control-label">Vehicle Reg No</label>
                                <input type="text" class="form-control input-sm" disabled />
                            </td>
                            <td>
                                <label class="control-label">Vehicle Type</label>
                                <input type="text" class="form-control input-sm" disabled />
                            </td>
                            <td>
                                <label class="control-label">Driver</label>
                                @Html.DropDownList("DriverID", ViewBag.Driver as SelectList, "--Select--", new { @class = "form-control form-control-sm select-chosen", @onchange = "GetDriver(this)" })
                            </td>
                            <td>
                                <label class="control-label">Driver Contact</label>
                                <input type="text" class="form-control input-sm" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Broker Code</label>
                                @Html.DropDownList("VendorID", ViewBag.Broker as SelectList, "Select", new { @class = "form-control form-control-sm select-chosen", onchange = "GetVendor(this)" })
                            </td>
                            <td>
                                <label class="control-label">Broker Contact </label>
                                <input type="text" class="form-control input-sm" disabled />
                            </td>
                            <td>
                                <label class="control-label">External Vehicle No</label>
                                <input type="text" class="form-control input-sm" id="ExternalVehicleNo" name="ExternalVehicleNo" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" id="ChallanModal" style="font-size:8px">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Created Date</td>
                            <td>Bilty No</td>
                            <td>Bilty Date</td>
                            <td>Bill To</td>
                            <td>Vehicle No</td>
                            <td>Receiver</td>
                            <td>Payment Type</td>
                            <td>Delete </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btnSaveEdit" class="btn btn-primary pull-right" onclick="SaveParchoonData(this)"><b><i class="fa fa-save"></i> Create Challan</b></button>
                @*@Html.Partial("_SearchChallan")*@
            </div>
            @*}*@
            <!-- END Modal Body -->
        </div>
    </div>
</div>

<script src="~/js/Function.js"></script>
@section Script
{
    <script>
        function SearchAble() {
            $(".SearchAble").chosen();
        }
        function ResetSearch() {
            $("#DateTo").val('');
            $("#DateFrom").val('');
            $("#BiltyNo").val('');
            $("#BillTo").chosen('destroy');
            $("#Receiver").chosen('destroy');
            $("#OwnCompany").chosen('destroy');
            $("#Vehicle").chosen('destroy');
            $("#Sender").chosen('destroy');
            $("#Sender").val('');
            $("#BillTo").val('');
            $("#Receiver").val('');
            $("#OwnCompany").val('');
            $("#Vehicle").val('');
            $("#Sender").chosen();
            $("#BillTo").chosen();
            $("#Receiver").chosen();
            $("#OwnCompany").chosen();
            $("#Vehicle").chosen();
        }


        function fnSuccessSearch(response) {
            debugger;
            $("#grid").html(response.html);
            $("#grid").slideDown();
            GetOrders();
        }
        $(document).ready(function () {
            GetOrders();
            $("#DateTo").datepicker({
                altField: "#DateTo",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
            $("#DateFrom").datepicker({
                altField: "#DateFrom",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
            $("#ChallanDate").datepicker({
                altField: "#ChallanDate",
                altFormat: "d-M-y",
                changeMonth: true,
                changeYear: true,
                yearRange: "1947:5000"
            });
        });
        function GetOrders() {
            $('#example').DataTable({
                "lengthMenu": [[50, 100, 200, 300 - 1], [50, 100, 200, 300, "All"]]
            });
        }

        function AddChallanRow(a) {
            debugger;
            for (var i = 0; i < $("#example tbody tr").length; i++) {
                let checkbox = $("#example tbody").find("tr:eq(" + i + ") td:eq(0) input[type='checkbox']");
                if (checkbox.is(':checked')) {
                    var parent = $(checkbox).parent("td").parent("tr").html();
                    //parent = parent.replace("AddChallanRow");
                    parent = parent.replace("AddChallanRow", "remove").replace("checkbox", "hidden");
                    $("#ChallanModal").find("tbody").append(`<tr>${parent}<td><button type='button' class='btn btn-danger btn-xs' onclick='remove(this)'><i class='fa fa-trash'></i></button></td></tr>`);
                    parent = $(checkbox).parent("td").parent("tr");
                    //parent = $(a).parent("td").parent("tr").remove();
                }
            }
        }

        function remove(e) {
            $(e).parent("td").parent("tr").fadeOut(400, function () { $(this).remove(); });
        }

        $(document).on('click', '#checkAll', function (a) {
            debugger;
            var table = $(this).closest('#example table');
            table.find(':checkbox').not(this).prop('checked', this.checked);
        });

        jQuery(function ($) {
            debugger;
            $('body').on('click', '#checkAll', function () {
                $('#example tbody tr').find("td:eq(0) input[type='checkbox']").prop('checked', this.checked);
            });

            $('body').on('click', '#CompactBiltyID', function () {
                $("#example tbody tr").each(function () {
                    let row = $(this);
                    if (row.find("td:eq(0) input[type='checkbox']").length == $("td:eq(0) input[type='checkbox']:checked").length) {
                        $('#checkAll').prop('checked', true);
                    } else {
                        $("#checkAll").prop('checked', false);
                    }
                })
            });
        });
        function GetLocationDDL() {
            let arrayIds = [];
            let tableRow = $("#example tbody tr");
            for (var i = 0; i < tableRow.length; i++) {
                if (tableRow.eq(i).find("td:eq(0) input").is(":checked")) {
                    arrayIds.push(parseInt(tableRow.eq(i).find("td:eq(0) input").val()));
                }

            }
            console.log(arrayIds);
            $.ajax({
                url: "../Admin/GetSelectedLocation",
                type: 'post',
                dataType: 'json',
                data: { id: arrayIds },
                success: function (data) {
                    console.log(data);
                    debugger;
                    $('#PickLocationID').chosen('destroy');
                    $('#PickLocationID').html('');
                    $("#PickLocationID").append('<option>--Select--</option>');
                    for (var i = 0; i < data.Location.length; i++) {
                        $('#PickLocationID').append("<option value='" + data.Location[i].ID + "'>" + data.Location[i].LocationCode + " | " + data.Location[i].LocationName + "</option>");
                    }
                    //$('#PickLocationID').chosen();

                    $('#DropLocationID').chosen('destroy');
                    $('#DropLocationID').html('');
                    $("#DropLocationID").append('<option>--Select--</option>');
                    for (var i = 0; i < data.DropLocation.length; i++) {
                        $('#DropLocationID').append("<option value='" + data.DropLocation[i].ID + "'>" + data.DropLocation[i].LocationCode + " | " + data.DropLocation[i].LocationName + "</option>");
                    }
                    //$('#DropLocationID').chosen();
                }
            });
        }

        function SaveParchoonData() {
            debugger;
            let Order = {}
            let ID = $("#hfEditID").val();
            let ChallanDate = $("#ChallanDate").val();
            let ChallanManualNo = $("#ChallanManualNo").val();
            let PickLocationID = $("#PickLocationID").val();
            let DropLocationID = $("#DropLocationID").val();
            let VehicleID = $("#VehicleID").val();
            let DriverID = $("#DriverID").val();
            let VendorID = $("#VendorID").val();
            let ExternalVehicleNo = $("#ExternalVehicleNo").val();


            if (ChallanManualNo == "" || ChallanDate == "" || PickLocationID == "" || DropLocationID == "" || VehicleID == "") {
                Message("Required", "Enter all required fields", "error");
                return;
            }

            Order.ID = ID;
            Order.ChallanDate = ChallanDate;
            Order.ChallanManualNo = ChallanManualNo;
            Order.PickLocationID = PickLocationID;
            Order.DropLocationID = DropLocationID;
            Order.VehicleID = VehicleID;
            Order.DriverID = DriverID;
            Order.VendorID = VendorID;
            Order.ExternalVehicleNo = ExternalVehicleNo;

            var Customers = new Array();
            $("#ChallanModal tbody tr").each(function () {
                var row = $(this);
                var customer = {};
                customer.ParchoonBiltyID = row.find("td:eq(0) input").val();
                Customers.push(customer);
            });

            if (Customers != "") {
                $.ajax({
                    url: "../ParchonBilty/SaveChallanParchon",
                    type: "POST",
                    data: { Order: Order, check: Customers },
                    success: function (r) {
                        debugger;
                        if (status != "OK") {
                            Message("Error", "An Error Occured", "error");
                        }
                        Message("Success", "Parchoon Challan has been created", "success");
                        window.location = "../ParchonBilty/ParchonChallanList";
                    },
                    error: function () {
                        Message("Error", "An Error Occured", "error");
                    }
                });
            }
            else {
                Message("Required", "Please select bilty !", "info");
            }
        }
        function GetVehicle(e) {
            let row = $(e).parent("td").parent("tr");
            $.post(`../ParchonBilty/GetVehicleChallan?id=${$(e).val()}`).done(function (response) {
                row.find("td:eq(1) input").val(response.Reg);
                row.find("td:eq(2) input").val(response.Type);
            });
        }
        function GetVendor(e) {
            let row = $(e).parent("td").parent("tr");
            $.post(`../ParchonBilty/GetVendorChallan?id=${$(e).val()}`).done(function (response) {
                row.find("td:eq(1) input").val(response.Contact);
            });
        }
        function GetDriver(e) {
            let row = $(e).parent("td").parent("tr");
            $.post(`../ParchonBilty/GetDriverChallan?id=${$(e).val()}`).done(function (response) {
                row.find("td:eq(4) input").val(response.Contact);
            });
        }
        function GetPickLocation(e) {
            let row = $(e).parent("td").parent("tr");
            $.post(`../ParchonBilty/GetPickLocationChallan?id=${$(e).val()}`).done(function (response) {
                row.find("td:eq(1) input").val(response.City);
                row.find("td:eq(2) input").val(response.Area);
                row.find("td:eq(3) input").val(response.Address);
            });
        }
        function GetDropLocation(e) {
            let row = $(e).parent("td").parent("tr");
            $.post(`../ParchonBilty/GetDropLocationChallan?id=${$(e).val()}`).done(function (response) {
                row.find("td:eq(1) input").val(response.City);
                row.find("td:eq(2) input").val(response.Area);
                row.find("td:eq(3) input").val(response.Address);
            });
        }
    </script>
}